.App {
  text-align: center;
}

label {
  font-size: 3em;
}

select {
  width: 30vw;
  height: 30vw;
}

.payingDiv {
  margin: 0 auto;
}

.treasurerButton {
  background-color: gold;
  padding: 10px;
  margin: 10px 3px;
  width: 25vw;
  height: 5%;
  text-decoration: none;
  border: none;
  font-size: 3vw;
}

#creditCardNumber,
#expiryDate,
#securityCode {
  font-size: 10pt;
}

#tpassword {
  font-size: 20pt;
}

input[type="submit"] {
  background-color: lightgreen;
}

.regButton {
  background-color: white;
  padding: 10px;
  margin: 10px 3px;
  width: 25vw;
  height: 5%;
  text-decoration: none;
  border: none;
  font-size: 3vw;
}

.textbox {
  width: 50%;
  height: 7vw;
  font-size: 4vw;
}

body {
  background-color: lightgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
}

.bookedList {
  margin: 0 auto;
  display: table;
  list-style-type: square;
  text-align: left;

  padding: 20px 40px 20px 50px;
}

.booking {
  border: 3px solid black;
  border-radius: 50px;
  margin: 5px;
  padding: 7.5px;
  font-size: 3vw;
}
.booking:hover {
  background-color: lightsalmon;
}

.welcome {
  background-color: lightgreen;
  padding: 5%;
}

.tablink:hover {
  background-color: #777;
}

.logoutButton {
  width: 20%;
  font-size: 20px;
}

.dues,
.revenue,
.memberslog {
  border: 1px solid black;
  margin: 0 auto;
  display: table;
  list-style-type: square;
  text-align: left;
  border-collapse: separate;
}

#total {
  text-align: left;
}

#totalRevenue {
  border: none;
}

td {
  text-align: center;
}
th {
  font-size: 1.2vw;
  padding: 10px;
  text-align: center;
}

.backButton {
  width: 20%;
  font-size: 20px;
}

.payButton {
  width: 100%;
  font-size: 20px;
}

.paid {
  background-color: lightgreen;
}

.unpaid {
  background-color: lightyellow;
}

.empty {
  list-style-type: none;
}

.bookedDiv {
  border: 7.5px solid black;
  border-radius: 3vw;
  margin: 0 auto;
  width: 50%;
}

.bookedList th,
td {
  border: 1px solid black;
  padding: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
